<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="../vendor/autoload.php"
        cacheResult="false"
        cacheTokens="false"
        colors="true"
        verbose="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
>
    <testsuites>
        <testsuite name="App Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../app</directory>
            <exclude>
                <directory suffix=".php">../app/Robo/Plugin/Commands/Templates</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>